<br>
<br>
<br>
<button (click)="testAPI()">Test API</button>
<div class="swiper-container">
  <div class="parallax-bg"></div>
  <div class="swiper-wrapper">
    <ng-container *ngFor="let item of greetings">

    </ng-container>
    <div class='swiper-slide midnight'>
      <div class="swiper-slide"
      [ngStyle]="getPhotoID('https://drive.google.com/open?id=1Nt9vn0tPdSl30oo_zCJRx_vRNRCIKBS2')"
        data-swiper-parallax="-23%">
        <div class="title" data-swiper-parallax="-300">Slide 1 <span class='time'>5/14/2020 17:15:30</span>
        </div>
        <div class="text" data-swiper-parallax="-100">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit
            amet faucibus
            felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
            Integer laoreet
            magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis
            rutrum. Ut at
            ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean
            feugiat non eros
            quis feugiat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet
            faucibus
            felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
            Integer laoreet
            magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis
            rutrum.</span>
        </div>
      </div>
    </div>
    <div class='swiper-slide azure'>
      <div class="swiper-slide"
      [ngStyle]="getPhotoID('https://drive.google.com/open?id=1Nt9vn0tPdSl30oo_zCJRx_vRNRCIKBS2')"
        data-swiper-parallax="-23%">
        <div class="title" data-swiper-parallax="-300">Slide 1 <span class='time'>5/14/2020 17:15:30</span>
        </div>
        <div class="text" data-swiper-parallax="-100">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit
            amet faucibus
            felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
            Integer laoreet
            magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis
            rutrum. Ut at
            ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean
            feugiat non eros
            quis feugiat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet
            faucibus
            felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
            Integer laoreet
            magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis
            rutrum.</span>
        </div>
      </div>
    </div>
    <div class='swiper-slide azure'>
      <div class="swiper-slide"
        [ngStyle]="getPhotoID('https://drive.google.com/open?id=13fBQtcUB1V1sIG1dxKd5ue9z--vif9cz')"
        data-swiper-parallax="-23%">
        <div class="title" data-swiper-parallax="-300">Slide 1 <span class='time'>5/14/2020 17:15:30</span>
        </div>
        <div class="text" data-swiper-parallax="-100">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit
            amet faucibus
            felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
            Integer laoreet
            magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis
            rutrum. Ut at
            ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean
            feugiat non eros
            quis feugiat..</span>
        </div>
      </div>
    </div>
    
    <div class="swiper-slide piglet">
      <div class="swiper-slide"
        style="background: url('http://drive.google.com/uc?export=view&id=1Nt9vn0tPdSl30oo_zCJRx_vRNRCIKBS2') no-repeat center"
        data-swiper-parallax="-23%">
        <div class="title" data-swiper-parallax="-300">Slide 3</div>
        <div class="text" data-swiper-parallax="-100">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit
            amet faucibus
            </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Scrollbar -->
  <div class="swiper-scrollbar">
    <div class="swiper-scrollbar-drag run-animation"></div>
  </div>
  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
  <!-- Add Navigation -->
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>

<!-- <app-basicelements></app-basicelements> -->
<!-- <app-navigation></app-navigation> -->
<!-- <div class="wrapper">

  <div class="main">
    <br><br><br>
    <img src="https://drive.google.com/uc?export=view&id=getID('https://drive.google.com/open?id=1Nt9vn0tPdSl30oo_zCJRx_vRNRCIKBS2')">
    

    
    
    <div class="section section-download" id="#download-section" data-background-color="black">
      <div class="container">
        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3>Special Thanks to...</h3>
          </div>
          <div class="text-center col-md-12 col-lg-8">
            <a target="_blank" href="https://www.facebook.com/alexnepo12"
              class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Alexandra">
              <img src="assets/img/pam/alex.jpg" alt="Circle Image" class="rounded-circle">
            </a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=1760930022"
              class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Christine">
              <img src="assets/img/pam/tine.jpg" alt="Circle Image" class="rounded-circle">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <footer class="footer" data-background-color="black">
    <div class="container">
      <div class="text-center">
        &copy;
        {{data | date: 'yyyy'}}, By
        <ngbd-modal-component></ngbd-modal-component>
      </div>
    </div>
  </footer>
</div> -->



