


<h6>
<a (click)="open(classic,'' , '')" style='cursor: pointer;'>JC Mercado</a>
</h6>

<!-- <button class="btn btn-primary" (click)="open(classic,'' , '')">
 Launch Modal
</button> -->
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">My Day 1 ◑</h4>
    </div>
    <div class="modal-body justify-content-center">
        <p>
            Always be My Day 1 ko to! Hindi ko na nga maalala yung life ko bago ko to makilala e.
            Countless na yung times na tinulungan nya ko kapag down ako. Sobrang malaking part siya ng kung sino ako ngayon.

            <br><br>

            Kapag nakatingin ako sakanya, nakikita ko where I really belong. In her eyes I belong. 
            She's the greatest risk I've ever taken, and the greatest reward.
            <br><br>

            Dream big! I know you can reach it! Stay grateful sa lahat ng blessing sa buhay! 
            You have one of the purest hearts na nakilala ko. 
            <br><br>

            Happy Birthday Love!
            YOU ARE AN ANSWERED PRAYER. 💖
        </p>
    </div>

</ng-template>


