


<h6>
<a (click)="open(classic,'' , '')" style='cursor: pointer;'>JC Mercado</a>
</h6>

<!-- <button class="btn btn-primary" (click)="open(classic,'' , '')">
 Launch Modal
</button> -->
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">My Day 1 ◑</h4>
    </div>
    <div class="modal-body justify-content-center">
        <p>
            Always be My Day 1 ko to! Hindi ko na nga maalala yung life ko bago ko to makilala e.
            Countless na yung times na tinulungan nya ko kapag down ako. Sobrang malaking part siya ng kung sino ako ngayon.
            
            <br><br>

            Kapag nakatingin ako sakanya, nakikita ko where I really belong. In her eyes I belong. 
            She's the greatest risk, and the greatest reward.
            <br><br>

            To Pamela,
            <br>
            Gasgas na pero.. sobrang swerte ko nakilala kita. Ikaw yung may birthday pero araw-araw akong may regalo from God.
            Thank you sa lahat ng support and jokes. Sa mga oras na kailangan kita, palagi kang andyan. Sa mga non-sense na usapan,
            kung saan man mapunta chikahan at laitan. At syempre sa mga drama sa buhay!
            Thank you sa moments! Nakakabaliw and beautiful moments.You're asking anong nakita ko sayo? Nag dasal lang
            ako then God made it clear. Nakita ko lahat.
            <br><br>
            Sa totoo lang, I don't want you to change. Oo may mga bagay sayo na hindi ko maintindihan? Pero Ikaw ay ikaw e. Ayaw kong 
            magbago ka dahil saakin or sa 'atin'. Ikaw and all that come kasama mo, mamahalin ko at ayaw kong mawala. Keep it intact and 
            I just want to help it grow.
            <br><br>
            Dream big! I know you can reach it! Stay grateful sa lahat ng blessing sa buhay! 
            You have one of the purest hearts na nakilala ko. 
            
            <br><br>

            Happy Birthday Love!
            <br>
            Thank you for sharing a part of your life with me.
            <br>
            YOU ARE AN ANSWERED PRAYER. 💖
        </p>
    </div>

</ng-template>


