@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

ngb-progressbar {
  margin-top: 5rem;
}


.head{
  position:relative
}

span.left,
span.right {
  color:white;
  -webkit-text-stroke: 0px black;
  -webkit-text-fill-color: white;
  position: absolute;
  z-index: 999;
  top:36%;
  font-size: 10vw;
  font-family: 'Rozha One',serif;
  /* font-family: 'Playfair Display',
  serif; */
}

span.left {
  /* left:-10px */
  left:30px
}

span.right {
  /* right:-225px */
  right:30px
}



@media screen and (min-width: 991px) {
  .lightbox .modal-dialog {
    width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  span.left,
  span.right {
    z-index: 999;
    font-size: 10vw;
    margin: 0 auto
  }

  span.left {
    top: 11%;
    left:39%
  }

  span.right {
    top: 69%;
    right: 38%;
  }
}

@media (max-width: 767px) {

  span.left,
  span.right {
    z-index: 999;
    font-size: 20vw;
    margin:0 auto
  }

  span.left {
    TOP:12%;
    left:29%;
  }

  span.right {
    top: 64%;
    right: 35%;
  }
}
